mixin redsocial(alt)
	p.crop
		a(href="#")
			img(src="assets/image/social_sprite.png", alt= alt)



































































































































































































mixin cajapost(titulo, src, name, post)
	div.post
		div.title
			h6 Lunes, 14 de julio de 2015
			a(href="#")
				h4= titulo     
		div.blogger
			div.autor
				a(href="#")
					img(src= src)
			div.libros
				h3= name
				a(href="#")
					h4= post
mixin blogger(src, name, post)
	div.blogger.parche
		div.autor
			a(href="#")
				img(src= src)
		div.libros
			h3= name
			a(href="#")
				h4= post              
mixin title(name, descripcion)
	h2= name
	h3.descrip= descripcion
		i.fa.fa-angle-double-down




