doctype html
html(lang='es')
    head
        meta(charset='UTF-8')
        title Home
        link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Oswald:400,700', rel='stylesheet', type='text/css')
        link(rel='stylesheet', type='text/css', href='assets/css/dist/font-awesome.min.css')
        link(rel='stylesheet', type='text/css', href='assets/css/dist/bootstrap.css')
        link(rel='stylesheet', type='text/css', href='assets/css/dist/slick.css')
        link(rel='stylesheet', type='text/css', href='assets/css/dist/slick-theme.css')
        link(rel='stylesheet', type='text/css', href='assets/css/footer.css')
        link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
        mixin edicion(src,h4,red)
            .edicion
                img(src=src)
                h4=h4
                p=red
        mixin rodrich(text)
            .rodrich
                img(src="assets/image/img_blogueros.jpg")
                p Augusto Álvarez Rodrich
                h4= text
        mixin separadored(p)
            .redline
                .carlincatura
                    p=p
        mixin separador(p)
            .photo
                p=p
        mixin block(src, titulo) 
            .block
                img(src= src)
                h4=titulo
    body
        aside
            .container
                .col-md-4
                    img(src="assets/image/banner-aside-home.jpg")
                .row
                    .aweita
                        img(src="assets/image/logo_aweita.jpg")
                        +block("assets/image/img_aweita.jpg","Juan Ramón Riquelme el adíos al 'Último 10' de Argentina")
                        +block("assets/image/img_aweita.jpg","Lewi Caroll:un día como hoy nació el autor de 'Alicia en el")
                        +block("assets/image/img_aweita.jpg","Juan Ramón Riquelme el adíos al 'Último 10' de Argentina")
                        +block("assets/image/img_aweita.jpg","Gameplay de 'Dead kings', el descargable premium de 'Assassin's")
                        .plus
                            p Más en 
                                a(href="#") Aweita.pe
                .row
                    .line
                        +separador("FOTOS DESTACADAS")
                    img(src="assets/image/img_fotodes_prominent.jpg")
                    h3 Lineas de Nasca: admiten prisión preventiva de 6 meses para activistas de Greenpeace | FOTOS                        
                    +block("assets/image/img_fotodes.jpg","Uchuraccay: El pueblo que recibe con flores a quienes llegan a pie | FOTOS")
                    +block("assets/image/img_fotodes.jpg","Alianza Lima vs Fénix. intimos ganaron 1-0 en 'Noche Blanquiazul' | VIDEOS Y FOTOS")
                    +block("assets/image/img_fotodes.jpg","Tomas Berdych derrotó 3-0 a Rafael Nadal y avanzó en el Australian Open | FOTOS")
                hr
                .row
                    .line
                        +separador("ESPECIALES")
                        .img
                            img(src="assets/image/img_especiales_aside.jpg")
                            .transparent
                                p Régimen laboral juvenil
                        .img
                            img(src="assets/image/img_especiales.jpg")
                            .transparent
                                p COP 20
                        .img
                            img(src="assets/image/fotogaleria_col03_01.jpg")
                            .transparent
                                p Concentración de Medios
                        .img
                            img(src="assets/image/img_sd_mascota.jpg")
                            .transparent
                                p Especies peruanas en peligro de extinción
                hr
                .row
                    .redline
                        +separadored("Carlincatura del Día")
                    h3 Carlincaturas 30-01-2015
                    img(src="assets/image/img_carlincatura_sd.jpg")
                    a(href="#") Todas las Carlincaturas
                hr
                .row 
                    .line
                        +separador("NUESTROS BLOGUEROS")
                    +rodrich("Charlie Hebdo, historia que no debe repetirse")
                    +rodrich("El único pulpín es Humala")
                    +rodrich("Dios ha muerto... tengo las manos")
                    +rodrich("El único pulpín es Humala")
                    +rodrich("Charlie Hebdo, historia que no debe repetirse")
                    +rodrich("El único pulpín es Humala")
                    +rodrich("Dios ha muerto... tengo las manos")
                    +rodrich("El único pulpín es Humala")
                    a(href="#") Todas los blogs
                hr
                .row
                    .redline
                        +separadored("EDICÍON IMPRESA")
                        h3 La República - Lima
                        img(src="assets/image/img_impreso_sd_prominent.jpg")
                        +edicion("assets/image/img_impreso_sd.jpg","Extorsionan a menores en colegios","La República - Norte")
                        +edicion("assets/image/img_impreso_sd.jpg","Lluvias en Arequipa inundan casas y causan caos en la calles","La República - Sur")
                        +edicion("assets/image/img_aside_author.jpg","El ojo de Oblitas","Domingo")
                hr
                .row
                    .line
                        +separador("INFOGRAFIAS")
                            .img
                                img(src="assets/image/img_especiales_aside.jpg")
                                .transparent
                                    p Histórico cierre de frontera
                            .img
                                img(src="assets/image/fotogaleria_col03_01.jpg")
                                .transparent
                                    p Evaluacion de la pobreza e indigencia en América Latina
                hr
                .row
                    .box
                        img(src="assets/image/img_pregunta.png")
                        .info 
                            h4 La Pregunta de hoy
                            p ¿Cree usted que la premier Ana Jara debe renunciar?
                            .radio
                              label
                                input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='') 
                                |        Sí
                            .radio
                              label
                                input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='')
                                |         No
                .row
                    .aweita
                        img(src="assets/image/logo_libero.jpg")
                        +block("assets/image/img_aweita.jpg","Florentina empató 1-1 en su visita al Genoa con gran actuación de Juan Varga[VIDEO]")
                        +block("assets/image/img_fotodes.jpg","Jefferson Farfán:Schalke 04 tampoco sabe cúando volverá a las canchas[FOTOS]")
                        +block("assets/image/img_aweita.jpg","Barcelona vs. Villareal: culés ganaron 3-2 con goles de Lionel Messi y Neymar por Liga BBVA[VIDEO]")
                        +block("assets/image/img_fotodes.jpg","Perú cayó 3-1 ante Colombia por el hexagonal final del Sudamericano Sub 20[VIDEOS/FOTOS]")
                        .plus
                            p Más en 
                                a(href="#") Libero.pe
                .row
                    .aweita
                        img(src="assets/image/logo_popular.jpg")
                        +block("assets/image/img_news_grid.jpg","Joshua Ivanoff está loco por olor de Melissa Loza")
                        +block("assets/image/img_news_grid.jpg","Corinthians:Paolo Guerrero dedica su gol a Alondra Garcia")
                        +block("assets/image/img_news_grid.jpg","Angie Arizaga es amenzada de muerte(VIDEO)")
                        +block("assets/image/img_news_grid.jpg","Philip Seymour Hoffman:Un año sin el premiado actor(VIDEO)")
                        .plus
                            p Más en 
                                a(href="#") elPopular.pe
                .row
                    .aweita
                        img(src="assets/image/logo_wapa.jpg")
                        +block("assets/image/img_news_grid.jpg","¿Cómo renovar el guardarropa de los mas pequeños en este verano?")
                        +block("assets/image/img_news_grid.jpg","Shakira y Piqué ¡Ya son padres por segunda vez!")
                        +block("assets/image/img_news_grid.jpg","TED 2:Mira el tráiler de la cinta")
                        +block("assets/image/img_fotodes.jpg","Cómo usar zapatos altos sin dolor")
                        .plus
                            p Más en 
                                a(href="#") Wapa.pe
                .row
                    .box
                        img(src="assets/image/img_reporteroc.png")
                        .info
                            h4 Reportero ciudadano
                            img(src="assets/image/img_sd_reporteroc.jpg")
                            p
                                strong Estacionamiento indebido
                            p ¿Está permitido que dejen su auto en reiteradas ocasiones toda la noche en la puerta de tu casa? Placa DG6232, eso que antes lo dejaba entre la vereda y mi puerta.
                        button.button-default ENVIAR FOTOS
                        a(href="#") Más fotos

        script(src='http://code.jquery.com/jquery-1.11.2.min.js')
        script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
        script(type='text/javascript', src='js/bootstrap.min.js')
        script(type='text/javascript', src='js/slick.min.js')
        script(type='text/javascript', src='js/bootstrap-hover-dropdown.min.js')
        script(type='text/javascript', src='js/modernizr.custom.68172.js')
        script(type='text/javascript', src='js/respond.js')